body{
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; // Refer to https://segmentfault.com/a/1190000006110417
  background: var(--background-color);
  color: var(--text-color);
}

body header{
	content: '';
	clear: both;
	display: table;
  width: 100%; // Needed to contain a full-width navbar. 
}

body main{
  margin: 0 100px;
}

// Link.
body main a{
  color: cyan;
}

// Tag.
body main a.tag{
  color: mediumpurple;
  background: var(--text-color);
  border-radius: 3px;
  font-family: Consolas, monospace;
  padding: 1px;
  text-decoration: none;
}

// Post date.
body main span.date{
  color: gray;
}
