body{
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; // Refer to https://segmentfault.com/a/1190000006110417
  background: var(--background-color);
  color: var(--text-color);
}

body header{
	content: '';
	clear: both;
	display: table;
  width: 100%; // Needed to contain a full-width navbar. 
}

body main{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// Link.
body main a{
  color: powderblue;
  text-decoration: none;
}
