nav{
	margin: 0 50px 0 0;
}
nav ul{
	margin: 0;
}
nav ul li{
	float: left;
	list-style: none;
}
nav ul li a{
	float: left;
	background: var(--text-color);
	color: var(--background-color);
	text-decoration: none;
	font-weight: bold;
	padding: 12px 30px;
}
nav ul li a:hover, nav .current{
	background: var(--background-color);
	color: var(--text-color);
}

nav ul.left{
	float: left;
}
nav ul.right{
	float: right;
}
