.post .date, .post-list .date{
  color: gray;
}

.post a.anchor{
  
}

ul.post-list{
  list-style: none;
  padding-inline-start: 0;
}

ul.post-list li.block{
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 0 20px #888888;
  margin: 20px 0;
  padding: 10px;
}

ul.post-list li.block a.title{
  display: inline-block;
  font-size: 125%;
  margin-bottom: 10px;
}

ul.post-list li.block .description{
  
}

// Tag.
.tag-list a.tag{
  color: darkviolet;
  background: var(--text-color);
  border-radius: 3px;
  padding: 2px;
  text-decoration: none;
}
