<!doctype html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    {% include mathjax.html %}
    {% include google-site-verification.html %}
    {% include robots.html %}
    <title>{{ page.title }}</title>
    <link rel="icon" type="images/png" href="/assets/images/avatar.png" />
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  </head>
  <body>
    <header>
      {% include navigation.html %}
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
